{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <ul class="cd-hero-slider">

                <!-- Page 1 Gallery One -->
                <li class="selected"> 
                    <div class="cd-full-width">
                        <div class="container-fluid js-tm-page-content tm-page-pad" data-page-no="5">
                            <div class="tm-contact-page">  
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Вход в системата</h1>
    <div class="form-group">
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="sr-only">Парола</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    <div class="form-group">
        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
    </div>
</form>
                            </div>
                        </div>
                    </div>
                </li>
    </ul> <!-- .cd-hero-slider -->
    
{% endblock %}
